@font-face {
    font-family: 'LibreBaskerville';
    src: url("../fonts/libre-baskerville/LibreBaskerville-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'LibreBaskerville';
    font-weight: bold;
    src: url("../fonts/libre-baskerville/LibreBaskerville-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url("../fonts/roboto/Roboto-Bold.otf") format("opentype");
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    min-height: 100%;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    color: #faf9f0;
    font-family: 'Roboto';
}

.navbar{
    display: flex;
    margin: 0;
    background-color: #0e0b00;
    font-family: 'LibreBaskerville' !important;
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

ul{
    flex: 19;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

ul a{
    text-decoration: none;
    color:#faf9f0;
}

ul a:hover{
    color:#ebe8de;
}

#outlet{
    color: #ff0000;
}

.searchBar{
    width: 13vw;
    font-size: 18px;
    text-align: center;
}

.userIcon{
    flex: 1;
    font-size: 30px;
    text-align: right;
}

.container{
    min-height: 88.9vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

img{
    width: 180px;
}

h2{
    font-family: 'LibreBaskerville' !important;
    font-size: 34px;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 20px;
}

.content{
    font-size: 20px;
    padding: 3vw 5rem;
    min-width: 200px;
    width: 50vw;
    background-color: #0e0b00dc;
}

button{
   background-color: #ffbd59; 
   border-color: #0e0b00;
   border-width: 5px;
   font-family: 'Roboto';
   padding: 18px;
   font-size: 30px;
}

button:hover{
    background-color: #ffaf38;
}

button:active{
    background-color: #ff9900;
}

.footer a, .footer p{
    text-align: center;
    background-color: #0e0b00;
    color: #faf9f0;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

a:hover{
    color: #ff9900;
}

a:focus{
    color: #bb7101;
}


